<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="wrapper">
    <header>
        <input type="image" src="~/Images/Backward.png" class="MenuImg" align="left" onclick="history.go(-1); return true;"/>
        <input type="image" src="~/Images/Forward.png" class="MenuImg" align="left" onclick="history.go(+1);return true;" />
        @using (Html.BeginForm("", "Home"))
        { <input type="image" src="~/Images/Home.png" class="MenuImg" align="left" /> }    
        <input type="image" src="~/Images/Settings.png" class="MenuImg" />
    </header>
    <h1>SmartFridge Web Application</h1>


    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <footer>
        Copyright &copy; 2015 SmartFridge
    </footer>

</div>
</body>
</html>
